<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="poli.com.mobile2you.whatsp2p">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- <permission -->
    <!-- android:name="com.parse.starter.permission.C2D_MESSAGE" -->
    <!-- android:protectionLevel="signature" /> -->
    <!-- MUDAR NOME PACOTE -->
    <!-- <uses-permission android:name="br.com.mobile2you.pizzaprime.pizzaprime.permission.C2D_MESSAGE" /> -->
    <application
        android:name="com.poli.usp.whatsp2p.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.poli.usp.whatsp2p.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d9aa34977d8b9166187cc83674aea00089585509"/>

        <activity android:name="com.poli.usp.whatsp2p.ui.chat.ChatActivity"/>
        <activity android:name="com.poli.usp.whatsp2p.ui.dht_visualization.DhtVisualizationActivity">
        </activity>
    </application>

</manifest>